/*
Blanket declarations
*/
html * {
    margin: 0;
}

body {
    background: #fff;
    color: #333;
}

img {
    border: none;
}

a:link, a:visited, a:hover {
    color: #666;
    font-weight: bold;
    text-decoration: none;
}

/* try to mark external links as such */
a[target="_blank"], a[href^="http"] {
    background-color: #dde;
}

hr {
    margin: 0.5em;
    height: 1px;
    border: none;
    color: #aaa;
    background-color: #aaa;
}

dt {
    font-weight: bold;
}

dd {
    padding-left: 1em;
}

/*
Header
*/
#header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    float: left;
    background-color: #F0F0F0;
    border-bottom: 1px dashed #499ede;
    clear: both;
}

#header img {
    position: absolute;
    top: 2;
    left: 2;
}

#header h1 {
    display: none
}

/*
Navigation/user control
*/
#navigation {
    float: left;
    width: 100%
}

.admin ul, #navigation ul {
    list-style-type: none;
}

.admin li, #navigation li {
    display: inline;
    margin-left: 1em;
}

.admin form {
    display: inline;
}

#usercontrol {
    float: right;
    width: 40%;
    text-align: right;
    margin: 1em;
}

#usercontrol ul {
    list-style-type: none;
}

#usercontrol li {
    display: inline;
    margin-left: 1em;
}

/*
Content
*/
#content {
    display: block;
    position: relative;
    top: 105px;
    clear: both;
    width: 90%;
    margin: auto;
}

/*
Footer
*/
#footer {
    display: block;
    clear: both;
    position: relative;
    top: 110px;
    width: 100%;
    text-align: center;
    padding-top: 1em;
}

/*
Links for watching users/tags
*/
#watchlink {
    width: 100%;
    text-align: right;
}


/*
Vertical tabs
*/
.verticalTabs ul.nav {
    list-style-type: none;
    position: relative;
    width: 15%;
    margin-top: 1em;
    margin-left: 1px;
    padding: 0;
    float: left;
    z-index: 10;
}

.verticalTabs ul.nav li {
    position: relative;
    margin: 0;
    margin-top: -1px !important;
    padding: 0;
}

.verticalTabs ul.nav li.selected {
    border-right: medium none !important;
    margin-left: -0.5em;
}

.verticalTabs ul.nav li strong {
    display: block;
    padding: 0.3em;
}

.verticalTabs ul.nav a {
    display: block;
    width: 100%;
}

.verticalTabs div.content {
    padding: 1em;
    position: relative;
    margin: 0;
    margin-left: 15%;
    width: 80%;
    float: none;
}

/*
Horizontal tabs
*/
.horizontalTabs {
    display: block;
    width: 100%;
    padding: 0px;
}

.horizontalTabs ul.nav {
    list-style-type: none;
    position: relative;
    display: block;
    float: left;
    margin-left: 2em;
    margin-top: 1px;
    margin-bottom: 1em;
    z-index: 8;
    width: 100% !important;
}

.horizontalTabs ul.nav li {
    position: relative;
    display: block;
    float: left;
    padding: 0.3em 1em 0.3em 1em;
    margin-right: -1px;
}

.horizontalTabs ul.nav li.selected {
    border-bottom: medium none !important;
    border-right: 1px solid #777 !important;
    margin-top: -0.5em !important;
    padding-top: 0.5em;
    margin-left: 0 !important;
}

/* 
Block 
*/
.block, .verticalTabs ul.nav li.selected, .horizontalTabs ul.nav li.selected, .ui-accordion {
    border: 1px solid #ccc;
    background-color: #fff;
}

/*
Forms
*/
input, select, textarea {
    background-color: #fcfcfc;
    border: 1px solid #ccc;
    margin: 2px 0;
    padding: 2px 4px;
}

select {
   padding: 2px 2px 2px 0;
}

textarea {
	vertical-align: top;
}

input:focus, select:focus, textarea:focus {
    border: 1px solid #b2d1ff;
}

/*
Form messages and errors
*/
.message {
    background: #f3f8fc url(../images/skin/information.png) 8px 50% no-repeat;
    border: 1px solid #b2d1ff;
    color: #006dba;
    margin: 10px 0 5px 0;
    padding: 5px 5px 5px 30px
}
div.errors {
    background: #fff3f3;
    border: 1px solid red;
    color: #cc0000;
    margin: 10px 0 5px 0;
    padding: 5px 0 5px 0;
}
div.errors ul {
    list-style: none;
    padding: 0;
}
div.errors li {
	background: url(../images/skin/exclamation.png) 8px 0% no-repeat;
    line-height: 16px;
    padding-left: 30px;
    margin-bottom: 5px;
}

td.errors select {
    border: 1px solid red;
}
td.errors input {
    border: 1px solid red;
}
td.errors textarea {
    border: 1px solid red;
}

/*
Success/Warning/Failure divs, issue types, admin
*/
.success, .NewFeature {
    background-color: #E6EFC2;
    color: #000;
}
.success {
    border: 2px solid #C6D880;
}
.warning, .Improvement {
    background-color: #FFF6BF;
    color: #000;
}
.warning {
    border: 2px solid #FFd324;
}
.admin, .admin .shadow, .failure, .Bug {
    background-color: #FBE3E4 !important;
    color: #000 !important;
}
.admin, .failure {
    border: 2px solid #FbC2C4;
}

/* 
Tables 
*/
table {
    border: 1px solid #ccc;
    width: 100%
}

tr {
    border: 0;
}

td, th {
    font: 11px verdana, arial, helvetica, sans-serif;
    line-height: 12px;
    padding: 5px 6px;
    text-align: left;
    vertical-align: top;
}

thead th, tfoot th, .shadow, .ui-accordion-header {
    background: #ddd url(../images/skin/shadow-white.png) top repeat-x !important;
    padding-left: 0.25em;
}

th, .verticalTabs ul.nav li {
    background-color: #f0f0f0;
    color: #666;
    font-size: 11px;
    font-weight: bold;
    line-height: 17px;
    padding: 2px 6px;
}

th a:link, th a:visited, th a:hover {
    color: #333;
    display: block;
    font-size: 10px;
    text-decoration: none;
    width: 100%;
}

th.asc a, th.desc a {
    background-position: right;
    background-repeat: no-repeat;
}

th.asc a {
    background-image: url(../images/skin/sorted_asc.gif);
}

th.desc a {
    background-image: url(../images/skin/sorted_desc.gif);
}

.odd {
    background: #f0f0f0;
}

.even {
    background: #fff;
}

.list table {
    border-collapse: collapse;
}

.list th, .list td {
    border-left: 1px solid #ddd;
}

.list th:hover {
    background-color: #aab;
}

.list tr:hover {
    background-color: #dde;
}

.list td a {
    display: block;
}

/*
Comments
*/
.comments {
    margin-top: 1em;
    padding: 1em;
}

.comments table {
    width: auto;
    margin: auto;
}

.comment {
    margin-top: 1em;
    padding-top: 0.5em;
    margin-right: -1px;
}

.comment .comment {
    margin-bottom: -1px;
    margin-left: 3%;
}

.comment.firstDepthExceeded {
    margin-left: 2% !important;
}

.comment.secondDepthExceeded {
    margin-left: 1% !important;
}

.comment.lastDepthExceeded {
    margin-left: 0.5% !important;
}

.comment.noDepth {
    margin-left: -1px !important;
}

.commentAuthor {
    width: 25%;
    float: right;
    margin-bottom: 0.5em;
    text-align: right;
}
.commentAuthor a {
    margin-right: 0.5em;
}

.commentTitle {
    width: 60%;
    float: left;
    margin-left: 1em;
    font-weight: bold;
}

.commentBody {
    clear: both;
    padding: 0.5em;
    margin: 0.5em;
    background-color: #f0f0f0
}

.commentLinks {
    text-align: right;
    margin-right: 0.5em;
    margin-bottom: 1em;
}

/*
Groups
*/
.groupDescription {
    clear: both;
    width: 100%;
    padding: 0.5em;
    margin-bottom: 0.5em;
}

.groupEvents {
    width: 39%;
    float: left;
    margin-right: 1%;
}

.groupPosts {
    width: 60%;
    float: left;
}

.groupPost {
    padding: 0.5%;
}

.groupPrivate > td:first-child {
    border: 1px solid #00f;
}

.groupMembers {
    clear: both;
    padding-top: 1em;
}

.groupMembers .member {
    float: left;
    width: 25%;
}

/*
Events
*/
.calendar {
    border-spacing: 5px;
}
.calendar th {
    width: 14%;
}

.calendar td {
    height: 10em;
    padding: 0;
    margin: 0;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    overflow: auto;
}

.calendar td.empty {
    background-color: #eee;
    border: none !important
}

.calendar td strong,
.calendar td a {
    display: block;
    padding: 3px;
    margin: 3px;
}

.calendar a.event {
    background-color: #eee;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    text-align: center;
}

.calendar a.eventStart {
    border-left: 1px solid #000;
    text-align: left;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
}

.calendar a.eventEnd {
    border-right: 1px solid #000;
    text-align: right;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
}

.calendar a.eventStart.eventEnd {
    text-align: left;
}

.eventDescription {
    padding: 0.5em;
}

.eventTimes {
    clear: left;
    width: 50%;
    float: left;
}

.eventLocation {
    width: 45%;
    float: right;
    text-align: center;
}

/*
UserObjects
*/
.uoDisplay {
    margin-top: 0.5em;
}
.uoDescription {
    width: 70%;
    margin: 0;
    float: left;
}

.uoInfo {
    width: 29%;
    margin: 0;
    float: right;
    font-size: 80%;
}

.uoLicense {
    clear: both;
}

.uoList h3 {
    border-top: 1px solid #777;
    border-left: 1px solid #777;
    padding: 0.5em;
}

.uoList .submission {
    width: 24%;
    display: block;
    float: left;
    text-align: center;
    margin-bottom: 1em;
}

.uoList .bookmark {
    background-color: #eee;
}

.uoList .unread {
    background-color: #fff;
}

.uoList .prev-unread {
    background-color: #ddd;
}

.uoList .read {
    background-color: #ccc;
}

.imageDisplay, .audioDisplay, .flashDisplay, .videoDisplay, .applicationDisplay {
    width: 100%;
    text-align: center;
}

/*
Pagination
*/
.paginateButtons {
    border: 1px solid #ccc;
    border-top: 0;
    color: #666;
    font-size: 10px;
    overflow: hidden;
    padding: 10px 3px;
}

.paginateButtons a {
    background: #fff;
    border: 1px solid #ccc;
    border-color: #ccc #aaa #aaa #ccc;
    color: #666;
    margin: 0 3px;
    padding: 2px 6px;
}

.paginateButtons span {
    padding: 2px 3px;
}

/*
Properties/names/values
*/
.prop {
    padding: 5px;
}

.prop .name {
    text-align: left;
    width: 15%;
    white-space: nowrap;
}

.prop .value {
    text-align: left;
    width: 85%;
}

/*
ui
*/
.ui-accordion-header {
    vertical-align: center;
    padding: 0.5em;
    background-color: #ddd !important;
    border: 1px solid #000;
    margin: 0.5em;
}

.ui-accordion-header a {
    padding-left: 1em;
    background-image: url(../images/skin/sorted_asc.gif);
    background-repeat: no-repeat;
    background-position: left;
}

.ui-accordion-header.ui-state-active {
    background-color: #eee !important;
    border: 1px solid #333;
}

.ui-accordion-header.ui-state-active a {
    padding-left: 1em;
    background-image: url(../images/skin/sorted_desc.gif);
    background-repeat: no-repeat;
    background-position: left;
}

.ui-accordion div {
    margin: 0.5em;
}

/*
Buttons
*/
.buttons {
    border: 1px solid #ccc;
    color: #666;
    font-size: 10px;
    margin-top: 5px;
    overflow: hidden;
    padding: 0;
}

.buttons input {
    background: #fff;
    border: 0;
    color: #333;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    margin-left: 3px;
    overflow: visible;
    padding: 2px 6px;
}

.buttons input.delete {
    background: transparent url(../images/skin/database_delete.png) 5px 50% no-repeat;
    padding-left: 28px;
}

.buttons input.edit {
    background: transparent url(../images/skin/database_edit.png) 5px 50% no-repeat;
    padding-left: 28px;
}

.buttons input.save {
    background: transparent url(../images/skin/database_save.png) 5px 50% no-repeat;
    padding-left: 28px;
}
